.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 20px 0;
    margin: 0 20rem;
}
.logo-menu{
    display: flex;
    align-items: center;
    
}
.logo{
    align-self: center;
    padding: 2rem 4rem;
}
.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
.menu ul li{
    padding: 1rem 2rem;
    font-size: 2rem;
}
.cart-profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
.cart{
    padding: .5rem .5rem;
    border-radius: 50%;
    position: relative;

    & .cartcount{
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        font-weight: 700;
        background-color: orangered;
        padding: 3px;
        border-radius: 1rem;
        top: -40%;
        right: -10%;
    }
}
.cart:hover{
    background-color: rgb(235, 235, 235);
}
.profile img{
    width: 4rem;
}