@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sen:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8rem 20rem;
  position: relative;
}

.product-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .large > img {
    height: 400px;
    border-radius: 1rem;
  }
  & .small {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding: 1rem 0;
    & img {
      height: 70px;
      border-radius: 1rem;
    }
  }
}

/* //------------------------------------------------------------ */

.product-detail {
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
  gap: 2rem;
  & .details {
    padding: 1rem 0;
    & :first-child {
      color: rgb(236, 127, 24);
      font-weight: 600;
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
      word-spacing: 1rem;
    }
    & h2 {
      font-size: 4rem;
      word-spacing: 1rem;
    }
    & :last-child {
      font-size: 1.5rem;
      text-align: justify;
      line-height: 2.5rem;
    }
  }
  & .details > * {
    padding: 1rem 0;
  }

  & .price {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & .discount {
      display: flex;
      align-items: center;
      font-size: 2rem;
      & :first-child {
        font-weight: 900;
        margin-right: 1.5rem;
      }
      & :last-child {
        font-size: 1.5rem;
        font-weight: 700;
        background-color: rgb(255, 213, 163);
        color: orangered;
        padding: 2px 10px;
        border-radius: 3px;
      }
    }
    & .normal {
      font-size: 1.7rem;
      text-decoration: line-through;
      color: rgb(101, 101, 101);
    }
  }

  & .addcart {
    display: flex;
    align-items: center;

    & .productcount {
      display: flex;
      margin-right: 3rem;
      background-color: rgb(247, 247, 247);
      align-items: center;
      border-radius: 1rem;
      & .count {
        border-left: 1px solid rgb(228, 228, 228);
        border-right: 1px solid rgb(231, 230, 230);
      }
    }
    & .productcount > * {
      padding: 1.5rem 2rem;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  & .addtocart {
    background-color: rgb(255, 105, 30);
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 8rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 1rem;
    cursor: pointer;
  }
}

.shown {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  & .product-img {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: inherit;
    & .large {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      position: relative;
      & .previous{
        background: #ffffff;
        padding: 1rem 1.5rem;
        border-radius: 50%;
      }
      & .next {
        background: #ffffff;
        padding: 1rem 1.5rem;
        border-radius: 50%;
      }
    }
    & .small {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 1rem 0;
    & img {
      height: 70px;
      border-radius: 1rem;
    }
  }
  & .close {
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding: 1rem 1.2rem;
  border-radius: 50px;
  right: 0;
  top: 0;
}
  }
}
.hidden {
  display:none;

}
